{% extends "base_template_admin.html" %}

{% block title %}Proyectos{{ slug_title }}{% endblock %}

{% block content %}
    <div class="general-title">
        <h1>Proyectos</h1>
    </div>
    {% for project in project_created %}
   <section class="section">
            <div class="card-wrap">
                <article class="card">
                    <!--<header class="header-card">
                        <img src="{{ url_for('project.add_project', filename=project_created.image_name) }}" />
                    </header>-->
                    <footer class="footer-card">
                        <div class="text-card">
                            <a href="">{{project.name_project}}</a>
                            <p>{{project.description}}</p>
                        </div>
                        <div class="container-buttons">
                            <div class="links-card">
                                <a class="button-link" href="">Términos y condiciones</a>
                                <a class="button-link" href="">Ir al proyecto</a>
                            </div>
                            <div class="dropdown">
                                <button class="dropdown-button">Más</button>
                                <div class="links">
                                    <a href="{{url_for('project.edit_project', id=project.id)}}" class="link-delete">Editar</a>
                                    <a href="{{url_for('project.delete_project', id=project.id)}}" class="link2-edit delete-project-btn">Eliminar</a>
                                </div>
                            </div>
                        </div>
                    </footer>
                </article>
            </div>
   </section>
    {% endfor %}

{% endblock %}
{% block scripts %}
    <script src="{{url_for('static', filename='/plugins/jquery/jquery-3.4.1.js')}}"></script>
    <script src="{{url_for('static', filename='/js/alertdelete.js')}}"></script>
{% endblock %}