{% extends "base_template_admin.html" %}

{% block title %}Proyectos{{ slug_title }}{% endblock %}

{% block content %}
    <div class="general-title">
        <h1>Proyectos</h1>
    </div>
    {% for project in projects %}
   <section class="section">
            <div class="card-wrap">
                <article class="card">
                    <header class="header-card">
                        <img src="/imagenes/vive-rio.jpeg" alt="">
                    </header>
                    <footer class="footer-card">
                        <div class="text-card">
                            <a href="">{{project.name_project}}</a>
                            <p>{{project.description}}</p>
                        </div>
                        <div class="links-card">
                            <a href="">Términos y condiciones</a>
                            <a href="">Ir al proyecto</a>
                        </div>
                    </footer>
                </article>
            </div>
   </section>
    {% endfor %}

{% endblock %}
{% block scripts %}

{% endblock %}