<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
     {% for project in projects %}
         <section class="section">
                    <div class="card-wrap">
                        <article class="card">
                            <header class="header-card">
                                <img src="/imagenes/vive-rio.jpeg" alt="">
                            </header>
                            <footer class="footer-card">
                                <div class="text-card">
                                    <a href="">{{project.name_project}}</a>
                                    <p>{{project.description}}</p>
                                </div>
                                <div class="links-card">
                                    <a href="">Términos y condiciones</a>
                                    <a href="">Ir al proyecto</a>
                                </div>
                            </footer>
                        </article>
                    </div>
           </section>
     {% endfor %}
</body>
</html>