{% extends "base_template_logged.html" %}

{% block title %}Agregar referido{{ slug_title }}{% endblock %}

{% block content %}
    <header class="header">
        <div class="logo">
            <img src="{{url_for('static', filename='imagenes/logoBlue.png')}}" alt="Logo Inciti">
        </div>
        <button class="toggle">
            <i class="fa-solid fa-bars"></i>
        </button>
        <div class="container-links-button">
            <nav class="nav">
                <ul class="nav-links">
                    <li class="li"><a href="{{ url_for('public.view_user_index') }}">Inicio</a></li>
                    <li class="li"><a  href="{{ url_for('public.list_my_referreds', id=id_project) }}">Mis referidos</a></li>
                    <li class="li"><a  href="{{ url_for('public.list_my_relateds_referreds', id=id_project) }}">Mis referidos vinculados</a></li>
                    <li class="li"><a  href="{{ url_for('public.add_referred', id=id_project) }}">Agregar referido</a></li>
                    <li class="li"><a  href="{{ url_for('public.list_my_bonds_referreds', id=id_project) }}">Mis bonos</a></li>
            </nav>
        <a href="{{ url_for('auth.logout') }}" class="btn"><button>Cerrar Sesion</button></a>
        </div>
   </header>
<div class="general-title">
        <h1>Agregar referido</h1>
    </div>

    <section class="section-form">
        <div class="div-form">
            <form class="form" method="post" novalidate>
                <p class="form-paragraph">Por favor, ingresa los datos.</p>
                {{ form.hidden_tag() }}
                <div class="form-container">
                    <div class="form-group">
                        {% for error in form.all_names.errors %}
                            <span class="span-error">{{ error }}</span>
                        {% endfor %}
                        {{ form.all_names.label(class='form-label') }}
                        {{ form.all_names(class="form-input")}}
                    </div>
                    <div class="form-group">
                        {% if error %}
                            <span class="span-error" style="color: red;"><strong>Error:</strong> {{ error }}</span>
                        {% endif %}
                        <br>
                        {% for error in form.email.errors %}
                            <span class="span-error">{{ error }}</span>
                        {% endfor %}
                        {{ form.email.label(class='form-label') }}
                        {{ form.email(class="form-input")}}
                    </div>
                    <div class="form-group">
                        {% for error in form.cellphone.errors %}
                            <span class="span-error">{{ error }}</span>
                        {% endfor %}
                        {{ form.cellphone.label(class='form-label') }}
                        {{ form.cellphone(class="form-input")}}
                    </div>
                    <div class="form-group">
                         {{ form.term_cond() }}<label class="check-text">  Acepto los <a href="{{ url_for('project.term_conditions_project', id=id_project) }}" target="_blank">términos y condiciones del plan.</a></label>
                        {% for error in form.term_cond.errors %}
                        <span class="span-error">{{ error }}</span>
                      {% endfor %}
                    </div>
                    {{ form.submit(class='form-submit') }}
                </div>
            </form>
        </div>
    </section>
{% endblock %}
{% block scripts %}

{% endblock %}