{% extends "base_template_logged.html" %}

{% block title %}Mis referidos{{ slug_title }}{% endblock %}

{% block content %}
<div class="general-title">
        <h1>Mi lista de usuarios referidos del proyecto {{project_created.name_project}}</h1>
    </div>

    <section class="section-table-general">
        <div class="div-table-general">
            <table class="table-general">
                <thead>
                    <tr >
                        <th>Nombre del referido</th>
                        <th>Correo del referido</th>
                        <th>Celular del Referido</th>
                    </tr>
                </thead>
                <tbody>
                {% for user_referred in project_created.users_referreds%}
                    <tr >
                        <td data-label="Nombre del referido">{{user_referred.all_names}}</td>
                        <td data-label="Correo del referido">{{user_referred.email}}</td>
                        <td data-label="Celular del Referido">{{user_referred.cellphone}}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script src="{{url_for('static', filename='/plugins/jquery/jquery-3.4.1.js')}}"></script>
    <script src="{{url_for('static', filename='/js/alertdelete.js')}}"></script>
{% endblock %}