{% extends "base_template.html" %}

{% block title %}Zona administrativa{{ slug_title }}{% endblock %}

{% block content %}
<div class="logotype">
        <img src="{{url_for('static', filename='imagenes/Logo white.png')}}" alt="Logo inciti">
        <a href="{{ url_for('auth.logout') }}">Cerrar sesion</a>
    </div>
    <div class="container-term">
        <div class="container-term-admin">
            <h1>Bienvenido a la zona administrativa</h1>
            <table  class="table-admin ">
                <tr>
                    <th>Nombre del referidor</th>
                    <th>Nombre del referido</th>
                    <th>Correo del referido</th>
                    <th>Celular del referido</th>
                    <th>Firma</th>
                    <th>T. apto</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for user_referred in users_referred %}
                <tr>
                    <td>{{ user_referred.name_user }}</td>
                    <td>{{ user_referred.all_names }}</td>
                    <td>{{ user_referred.email }}</td>
                    <td>{{ user_referred.cellphone}}</td>
                    <td>
                        {% if user_referred.signature == 1 %}
                         <p>No</p>
                        {% elif user_referred.signature == 2 %}
                         <p>Si</p>
                        {% endif %}
                    </td>
                    <td>
                        {% if user_referred.apartment_type == 1 %}
                            <p>No seleccionado</p>
                        {% elif user_referred.apartment_type == 2 %}
                            <p>Tipo 1A</p>
                        {% elif user_referred.apartment_type == 3 %}
                            <p>Tipo 1B</p>
                        {% elif user_referred.apartment_type == 4 %}
                            <p>Tipo 1C</p>
                        {% elif user_referred.apartment_type == 5 %}
                            <p>Tipo 2</p>
                        {% elif user_referred.apartment_type == 6 %}
                            <p>Tipo 3</p>
                        {% endif %}
                    </td>
                    <td><a href="{{url_for('auth.edit_referred', id=user_referred.id)}}" class="edit">Editar </a></td>
                    <td><a href="{{url_for('auth.delete_referred', id=user_referred.id)}}" class="delete btn-delete">Eliminar</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{url_for('static', filename='/plugins/jquery/jquery-3.4.1.js')}}"></script>
    <script src="{{url_for('static', filename='/js/alertdelete.js')}}"></script>
{% endblock %}