{% extends "base_template.html" %}

{% block title %}Principal {{ slug_title }}{% endblock %}

{% block content %}
    <div class="container-term">
        <div class="container-term-son">
            <table  class="table-admin ">
                <tr>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Celular</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td>Juan José Gonzalez Perez</td>
                    <td>Juangonzales@gmail.com</td>
                    <td>3215398925</td>
                    <td> <a href="#" class="edit">Editar</a></td>
                    <td> <a href="#" class="delete">Eliminar</a></td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}