{% extends "base_template.html" %}

{% block title %}Principal {{ slug_title }}{% endblock %}

{% block content %}
     <div class="logotype">
        <img src="{{url_for('static', filename='imagenes/Logo white.png')}}" alt="Logo inciti">
        <a href="{{ url_for('auth.logout') }}">Cerrar sesion</a>
    </div>
    <div class="container-term">
        <div class="container-term-son">
            <form  method="POST" novalidate>
                {{ form.hidden_tag() }}
                <h2>Editar datos del referido</h2>
                <div>
                    {% for error in form.all_names.errors %}
                        <span class="span-error">{{ error }}</span>
                    {% endfor %}
                    {{ form.all_names(placeholder = 'Nombre del referido')}}
                </div>
                <div>
                    {% for error in form.email.errors %}
                        <span class="span-error">{{ error }}</span>
                    {% endfor %}
                    {{ form.email(placeholder = 'Correo del referido')}}
                </div>
                <div>
                    {% for error in form.cellphone.errors %}
                        <span class="span-error">{{ error }}</span>
                    {% endfor %}
                    {{ form.cellphone(placeholder = 'Celular del referido')}}
                </div>

                <div>
                    {{ form.signature()}}
                </div>
                <div>
                    {{ form.apartment_type()}}
                </div>
                <div class="buttons-edit">
                     {{form.submit(class='update')}}
                    <a class="cancel"  href="{{url_for('auth.view_admin')}}">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}