{% extends "base_template.html" %}

{% block title %}Iniciar sesion {{ slug_title }}{% endblock %}

{% block content %}
     <div class="login-page">
            <div class="form">
              <form class="login-form" method="post" novalidate>
                  {{ form.hidden_tag() }}
                <img class="logo" src="{{url_for('static', filename='imagenes/logo blue.png')}}" alt="Inciti">
                    {% if error %}
                        <p class="span-error"><strong>Error:</strong> {{ error }}
                    {% endif %}
                  <div>
                    {% for error in form.username.errors %}
                        <span class="span-error">{{ error }}</span>
                    {% endfor %}
                    {{ form.username(placeholder = 'Nombre de usuario')}}
                  </div>
                  <div>
                      {% for error in form.password.errors %}
                        <span class="span-error">{{ error }}</span>
                      {% endfor %}
                      {{ form.password(placeholder = 'Contraseña')}}
                  </div>
                  <div class="remember">
                         {{ form.remember_me() }} {{ form.remember_me.label() }}
                  </div>
                  <div>
                      {{ form.submit() }}
                  </div>
                  <div class="ref-login-signup">
                    <p>No tengo cuenta: <a href="{{ url_for('auth.signup') }}">Regístrate</a></p>
                  </div>
              </form>
            </div>
          </div>
{% endblock %}