{% extends "base_template.html" %}

{% block title %}Iniciar sesion {{ slug_title }}{% endblock %}

{% block content %}
      <div class="login-page">
        <div class="form">
          <form class="register-form" action="" method="post" novalidate>
              {{ form.hidden_tag() }}
              <img class="logo" src="{{url_for('static', filename='imagenes/logo blue.png')}}" alt="Inciti">

              <div>
                  {% for error in form.names.errors %}
                  <span class="span-error">{{ error }}</span>
                  {% endfor %}
                  {{ form.names(placeholder="Nombres")}}
              </div>
              <div>
                  {% for error in form.last_names.errors %}
                  <span class="span-error">{{ error }}</span>
                  {% endfor %}
                  {{ form.last_names(placeholder="Apellidos")}}
              </div>
              <div>
                  {% for error in form.username.errors %}
                  <span class="span-error">{{ error }}</span>
                  {% endfor %}
                  {% if error %}
                    <span class="span-error"><strong>Error:</strong> {{ error }}</span>
                  {% endif %}
                  {{ form.username(placeholder="Nombre de Usuario")}}
              </div>
              <div>
                  {% for error in form.password.errors %}
                  <span class="span-error">{{ error }}</span>
                  {% endfor %}
                  {{ form.password(placeholder="Contraseña")}}
              </div>
              <div>
                  {% for error in form.email.errors %}
                  <span class="span-error">{{ error }}</span>
                  {% endfor %}
                  {{ form.email(placeholder="Correo")}}
              </div>
               <div>
                  {% for error in form.is_admin.errors %}
                  <span class="span-error">{{ error }}</span>
                  {% endfor %}
                  <p style="color: black; font-size: 13px;">Si usted no es trabajador de inciti.co por favor ignore este campo ↓ ↓</p>
                  {{ form.is_admin(placeholder="Codigo interno empresa")}}
              </div>
              <div>
                  {{ form.submit()}}
              </div>
            <div class="ref-login-signup">
                <p>Ya tengo una cuenta:  <a href="{{ url_for('auth.login') }}">iniciar sesión</a></p>
            </div>
          </form>
        </div>
      </div>
{% endblock %}