{% extends "base_template.html" %}

{% block title %}Términos y condiciones{{ slug_title }}{% endblock %}

{% block content %}
 <div class="logotype">
        <img src="{{url_for('static', filename='imagenes/logoWhite.png')}}" alt="Logo inciti">
        <a href="{{ url_for('auth.logout') }}">Cerrar sesion</a>
    </div>
    <div class="container-term">
        <div class="container-term-son">
            <p>TERMINOS Y CONDICIONES PLAN DE CLIENTES REFERIDOS INCITI.CO SAS VIGENCIA AÑO 2022 <br>
                <br>¿Quién puede participar? <br>
                EL CLIENTE, es un cliente de Inciti.co, es decir  que debe haber o estar en proceso de adquirir al menos un inmueble en alguno de los proyectos que comercializa Inciti.co sas y acepte las condiciones del presente acuerdo.
                EL CLIENTE se debe encontrar activo como cliente en la base de datos de Inciti.co., antes de registrar al interesado. Esto quiere decir que EL CLIENTE ya debe tener el proceso de compra de su inmueble debidamente legalizado y aparecer en la base de datos como cliente activo para llevar a cabo el proceso correspondiente.
                <br><br>¿A quién puedo referir?

                <br>Puedo referir a un familiar o a un amigo, el referidor debe contar con la autorización del Referido para suministrar su Información a inciti.co, con fines comerciales, suministrando los siguientes datos:
                EL CLIENTE: Nombre del cliente, cédula, teléfono
                Referido: Nombre, teléfono y correo.<br>

                <br>¿Cómo lo hago?
                <br>EL CLIENTE debe inscribir sus datos y los del interesado a través del BOTÓN del Programa de Referidos, que se encuentra en la página web: www.inciti.co, aceptando la política de privacidad de datos personales.
                Lo primero que debe ocurrir es que el CLIENTE registre a las personas interesadas en comprar un inmueble comercializado por inciti.co y este hecho se materializa una vez lo registra en la página web designada para tal efecto. Posterior a ello el Interesado puede legalizar la compra de su inmueble a través de los diferentes canales de venta que tienen las compañías. En ningún caso podrá ser, al contrario, pues el CLIENTE perderá el derecho al premio.
                Políticas y condiciones<br>

                <br>Si por algún motivo el INTERESADO fue registrado en la página web (plataforma de referidos) por dos CLIENTES diferentes, el registro del interesado será válido para el primer CLIENTE que lo haya registrado. Se validará fecha y hora del registro para determinar quién es el CLIENTE cuando se presente esta situación.
                El Bono de descuento se entregará sobre el valor inicial del negocio y se aplicará al último pago de acuerdo al plan de pago del negocio. <br>
                Tanto el Cliente como la persona que refiere serán notificados a partir del tercer mes, por medio del correo electrónico para reclamar el descuento. <br>
                <br> El valor del bono se calcula sobre el negocio que EL CLIENTE refiere de la siguiente manera:
                <br>Referido de un aptoestudio (tipo 3) Bono de descuento: $1.000.000

                <br>Referido de un apto de 65m2 (tipo 2) Bono de descuento: $1.500.000

                <br>Referido de un apto de > 95 m2 (tipo 1A,1B,1C) Bono de descuento: $2.000.000 <br>

                <br>Trimestralmente, se hará corte de los beneficiarios del Bono del plan de referidos y este lo podrá hacer efectivo hasta dentro de los próximos 6 meses.
                <br>Si el desistimiento de la venta del interesado se realiza dentro de los seis (6) meses siguientes se entenderá para todos los efectos que el CLIENTE Y EL REFERIDO no tendrá derecho al bono de descuento.
                <br>Los interesados inscritos en etapas anteriores del Programa de Referidos NO serán tenidos en cuenta dentro de esta campaña.
                <br>No aplica para Cesiones.<br>
                El bono de referido no es acumulable con otras promociones. <br>
                <br>Válido únicamente para clientes de INCITI.CO que acepten las condiciones del presente plan.
            </p>
        </div>
    </div>
{% endblock %}