{% extends 'base_template.html' %}

{% block content %}
<div class="logotype">
        <img src="{{url_for('static', filename='imagenes/logoWhite.png')}}" alt="Logo inciti">
        <a href="{{ url_for('auth.login') }}">Login</a>
</div>
      <div class="container-term">
        <div class="container-term-son">
            <h1 class="tittle-error">¡Vaya! parece que usted está en el lugar equivocado</h1>
           <a class="back-buttom"  href="{{url_for('public.index')}}">Ir al inicio</a>
        </div>
    </div>

{% endblock %}